<section id="faq" class="scrollto">
  <div class="wrap">
    <h1 class="faq-header">FAQ</h1>
    <div class="faq-nav">
      <a id="general-button" href="#" class="button button--faq selected">
        <%= image_tag "faq-diamond.svg" %>
        General
        <%= image_tag "faq-diamond.svg", :class => 'desktop' %>
      </a>
      <a id="before-button" href="#" class="button button--faq">
        <%= image_tag "faq-diamond.svg" %>
        Before
        <%= image_tag "faq-diamond.svg", :class => 'desktop' %>
      </a>
      <a id="during-button" href="#" class="button button--faq">
        <%= image_tag "faq-diamond.svg" %>
        During
        <%= image_tag "faq-diamond.svg", :class => 'desktop' %>
      </a>
      <a id="after-button" href="#" class="button button--faq">
        <%= image_tag "faq-diamond.svg" %>
        After
        <%= image_tag "faq-diamond.svg", :class => 'desktop' %>
      </a>
    </div>
    <div class="question-container">
      <%= image_tag "faq-glass.svg" %>
      <article id="general-questions" class="questions selected">
        <ul>
          <li>
            <h2>What is MythicApps?</h2>
            <p>MythicApps is the City of Lansing’s official hackathon.  For 36 hours, 500 designers, developers, and engineers from across the country will converge in Lansing, Michigan for a weekend of innovation and creation of websites, mobile applications, hardware, and more!  Best of all, it’s free!!!</p>
          </li>
          <li>
            <h2>When is MythicApps?</h2>
            <p>MythicApps will take place from Friday September 25, 2015 until Sunday September 27, 2015.  Attendees will arrive around dinner on Friday and the competition will end early afternoon Sunday.</p>
          </li>
          <li>
            <h2>Where is MythicApps?</h2>
            <p>MythicApps will transpire at the Lansing Center, 333 E Michigan Ave in the heart of downtown Lansing, Michigan.</p>
          </li>
          <li>
            <h2>Who can attend MythicApps?</h2>
            <p>MythicApps competitors must be enrolled in school at the time of the competition, whether that be high school, college, graduate school, or clown college.</p>
          </li>
        </ul>
      </article>
      <article id="before-questions" class="questions">
        <ul>
          <li>
            <h2>How do I apply?</h2>
            <p>The applications will open on June 1, 2015. and will stay open until Sept. 18th.  However to be considered for transportation assistance you must apply by August 25th. Applications will be accepted on a rolling basis starting August 1st.</p>
          </li>
          <li>
            <h2>What do I need to bring?</h2>
            <p>Laptop, student ID, toiletries, chargers, a parental consent form (if you are under 18)...oh and clothes, please wear clothes.</p>
          </li>
          <li>
            <h2>How do I get there?</h2>
            <p>We will be doing buses to various cities and campuses.  Travel reimbursements are in the cards as well.  More details to come!</p>
          </li>
          <li>
            <h2>Do I need a team?</h2>
            <p>Absolutely not.  If you are looking to join a team, or looking for team members, we will get you all set up!</p>
          </li>
          <li>
            <h2>Can I start my project beforehand?</h2>
            <p>Can I start my project beforehand?: No.  You must do all your work at the event.  Pondering your idea before the event is encouraged, but not required.</p>
          </li>
        </ul>
      </article>
      <article id="during-questions" class="questions">
        <ul>
          <li>
            <h2>I’m hungry, is there food?</h2>
            <p>Of course, and best of all, it's free!  There will be plenty of meals, snacks, and energy drinks to go around.</p>
          </li>
          <li>
            <h2>I’m tired, where can I sleep?</h2>
            <p>Sleep rooms will be set up at the venue.  You are also welcome to nap at your table.</p>
          </li>
          <li>
            <h2>I’m confused, who can help me?</h2>
            <p>We will have plenty of mentors on staff to help you with any technical questions pertaining to your project.</p>
          </li>
          <li>
            <h2>I’m new, do I need to be able to code?</h2>
            <p>Absolutely not!  Hackathons are a great place to learn new skills from both participants and the aforementioned mentors.</p>
          </li>
        </ul>
      </article>
      <article id="after-questions" class="questions">
        <ul>
          <li>
            <h2>So, are there prizes?</h2>
            <p>Of course!  There will be plenty of prizes going around, both from us and our corporate sponsors.</p>
          </li>
          <li>
            <h2>What if I have more questions?</h2>
            <p>Email us at hello@mythicapps.io</p>
          </li>
        </ul>
      </article>
    </div>
  </div>
</section>
