<section id="sponsors" class="scrollto">
  <h1 class="sponsor-header">Sponsors</h1>
  <h2 class="sponsor-subheader">
    Interested in sponsoring? Check out our
    <a href="<%= asset_path 'sponsorship-prospectus.pdf' %>">sponsorship opportunities</a>!
  </h2>

  <%= image_tag "sponsor-cave.svg", :class => 'sponsor-header-image' %>

  <div class="wrap media-grid">

    <a href="https://getpebble.com" class="media-item center-content bronze">
      <%= image_tag "logos/Pebble.svg" %>
    </a>

    <div class="full"></div>

    <a href="http://www.webascender.com/" class="media-item center-content startup">
      <%= image_tag "logos/web-ascender.png" %>
    </a>

    <a href="https://www.filepicker.com/" class="media-item center-content startup">
      <%= image_tag "logos/filepicker.svg" %>
    </a>

    <a href="http://www.rmcagency.com/" class="media-item center-content startup">
      <%= image_tag "logos/RMC.png" %>
    </a>

    <a href="//mitn.org/" class="media-item center-content startup">
      <%= image_tag "logos/mitn.png" %>
    </a>

    <h1 class="sponsor-header full">Partners</h1>

    <a href="http://www.neocenter.org/" class="media-item center-content partner">
      <%= image_tag "logos/neo-center.png" %>
    </a>
    <a href="http://www.purelansing.com/" class="media-item center-content partner">
      <%= image_tag "logos/leap.png" %>
    </a>
    <a href="http://www.lcc.edu/" class="media-item center-content partner">
      <%= image_tag "logos/LCC.svg" %>
    </a>
    <a href="http://www.spartaninnovations.org/" class="media-item center-content partner">
      <%= image_tag "logos/spartan-innovations.png" %>
    </a>
    <a href="http://startuplansing.org/" class="media-item center-content partner">
      <%= image_tag "logos/startup-lansing.png" %>
    </a>
    <a href="http://www.capitaltechinitiative.org/" class="media-item center-content partner">
      <%= image_tag "logos/cti.png" %>
    </a>
  </div>
</section>
