<div class="application-viewer">
	<% if @application != nil %>
		<table class="application-data-table">
			<tr>
				<th>Name:</th>
				<td><%= @application.name %></td>
			</tr>
			<tr>
				<th>Email:</th>
				<td>
					<a href="mailto:<%= @application.email %>"><%= @application.email %></a>
				</td>
			</tr>
			<tr>
				<th>Gender:</th>
				<td><%= @application.gender_identity %></td>
			</tr>
			<tr>
				<th>School:</th>
				<td><%= @application.school %></td>
			</tr>
			<tr>
				<th>First Hackathon:</th>
				<td><%= @application.this_is_my_first_hackathon %></td>
			</tr>
			<tr>
				<th>Traveling from:</th>
				<td>
					<% if @application.i_will_not_be_traveling_from_my_school %>
						<%= @application.i_will_be_traveling_from %> (not school)
					<% else %>
						<%= @application.school %> (school)
					<% end %>
				</td>
			<tr>
				<th>Resume:</th>
				<td>
					<% if @application.resume.length != 0 %>
						<a href="<%= @application.resume %>"><%= @application.resume %></a>
					<% else %>
						No resume
					<% end %>
				</td>
				
			</tr>
			<tr>
				<th>Github:</th>
				<td>
					<% if @application.github.length != 0 %>
						<a href="http://www.github.com/<%= @application.github %>"><%= @application.github %></a>
					<% else %>
						None
					<% end %>
				</td>
			</tr>
			<tr>
				<th>Dribbble:</th>
				<td>
					<% if @application.dribbble.length != 0 %>
						<a href="http://www.dribbble.com/<%= @application.dribbble %>"><%= @application.dribbble %></a>
					<% else %>
						None
					<% end %>
				</td>
			</tr>
			<tr>
				<th>LinkedIn:</th>
				<td>
					<% if @application.linkedin.length != 0 %>
						<a href="<%= @application.linkedin %>"><%= @application.linkedin %></a>
					<% else %>
						None
					<% end %>
				</td>
			</tr>
			<tr>
				<th>Personal Site:</th>
				
				<td>
					<% if @application.personal_site.length != 0 %>
						<a href="<%= @application.personal_site %>"><%= @application.personal_site %></a>
					<% else %>
						None
					<% end %>
				</td>
			</tr>
			<tr>
				<th>Free response:</th>
				<td><%= @application.free_response %></td>
			</tr>
			<tr>
				<th>Created at:</th>
				<td><%= @application.created_at %></td>
			</tr>
		</table>
	
		<div class="status-edit" onchange="saveApplicationStatus()">
			<select class="status-select">
				<option
					<% if @application.status == 0 %>
						selected
					<% end %>
						value="0">Unreviewed</option>
				<option 
					<% if @application.status == 1 %>
						selected
					<% end %>
						value="1">Accepted</option>
				<option
					<% if @application.status == 2 %>
						selected
					<% end %>
						value="2">Waitlisted</option>
				<option 
					<% if @application.status == 3 %>
						selected
					<% end %>
					value="3">Denied</option>
			</select>
		</div>
		
		<%= form_for @application, :html => { :id => "application-form", :class => "invisible" }, remote: true do |f| %>
			<%= f.text_field :status %>
		<% end %>
	<% else %>
		<div>All applications reviewed.  Nice!</div>
		<div><a href='/applications'>Return to dashboard</a></div>
	<% end %>
</div>

<script>
$(document).ready(function() {
	$("#application-form.invisible").bind('ajax:complete', function() {
		var saveSuccessString = "<div>Save successful!</div>";
		var reviewNextString = "<div><a href='/applications/review'>Review next</a></div>";
		var returnToMarketingDashboard = "<div><a href='/applications'>Return to dashboard</a></div>";
		picoModal(saveSuccessString + reviewNextString + returnToMarketingDashboard).show();
	});
});

function saveApplicationStatus() {
	var selectedStatus = $('.status-select').val();
	$($('#application-form.invisible').children('input').get(0)).val(selectedStatus);
	$('#application-form.invisible').submit();
}

function reviewNext() {
	window.location.replace('/applications/review');
}
</script>